#gameContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamePhotoContainer {
    width: 98%;
    height: auto;
    border: 2px solid black;
}

#gamePhoto {
    max-width: 100%;
    height: auto;
    cursor: url('../imgs/cursor.png') 30 25, auto;
}

#characterChoiceButtonsContainer {
    display: flex;
    flex-direction: column;
}