#gameContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamePhotoContainer {
    width: 98%;
    height: auto;
    border: 2px solid black;
}

#gamePhoto {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}