
#gamePageContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#charactersContainer {
    width: 95%;
    height: 6rem;
    text-align: center;
    border: 2px solid #6bfff5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#popUpContainer {
    width: 5%;
    height: 6%;
    border: 2px solid red;
}

.characterPhotoContainer {
    width: 6rem;
    height: auto;
}

.characterPhoto {
    width: 100%;
    height: auto;
}