
#gamePageContainer {
    width: 100%;
    height: auto;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#charactersContainer {
    width: 100%;
    height: 6rem;
    text-align: center;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#gamePhotoContainer {
    width: 98%;
    height: auto;
    border: 2px solid green;
}

#gamePhoto {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.characterPhotoContainer {
    width: 6rem;
    height: auto;
}

.characterPhoto {
    width: 100%;
    height: auto;
}