@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

#feedbackContainer {
    width: 95%;
    height: 5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: #6bfff5;
    border: 1px solid gray;
    gap: .25rem;
}